.logo {
    background: #E45A92;
}
.nav {
    background: #E45A92;
}
.social {
    background: #E45A92;
}
.banner {
    background: #FFE797;
}
.article {
    background: #637AB9;
}
.navegation {
    background: #CBDCEB;
}
.advertising {
    background: #F6FF99;
}
.navigation {
    background: #0BA6DF;
}
.footer {
    background: #F8FAB4;
}